/*////////////////////////  general  ////////////////////////*/

@font-face {
  font-family: 'jf_flat';
  src: url('../fonts/JF-Flat-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/JF-Flat-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/JF-Flat-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/JF-Flat-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body{
    background: #eee;
    font-family: 'jf_flat';
    height: 100%;
}
.white-p,.white-title{
    color: #eee !important;
}
.red-title{
    font-size: 63px;
    color: #d23434 !important;
}
.header-des h1,#calendar-des h1,.last-des h1{
    font-size: 36px;
}
.header-des p,#calendar-des p,.last-des p{
    font-size: 19px !important;
}
#about-header,#circle-header,#event-header,#join_header,#calendar-header,#contact-header{
/*  margin-top: -1.4em;
*/}
.event-header-container,#join_title,#about-des,#circle,.session-header,.scope-header{
    background: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#calendar-des{
    background: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}



/*social style*/
#social > ul{
    z-index: 100;
    margin-top: 9em;
    position: fixed;
}
#social >ul >li img{
    width: 45%;
    height: auto;
}



/*////////////////////////  header  ////////////////////////*/

/*logo*/
#logo{
    background: url(../img/logo.png) no-repeat;
    width: 7.938em;
    height: 2.5em;
}
#main-navbar{
    margin-bottom: 0px;
}
.header ,nav,#main-navbar{
    background: #152732 !important;
}
.header-container{
    padding-top: 0;
    padding-bottom: 2em;
}

/*navigation*/
nav{
    background: none !important;
    border: 0px !important;
    padding-top: .75em;
}
ul#nav  a{
    color: #eee;
    text-align: right;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
ul#nav >li> a{
    padding-top: 0.438em;
    padding-bottom: 0.438em;
}
ul#nav > li a:hover ,ul#nav >li.active a{
    background:#a7acb0;
    color: #152732;
    text-decoration: none;
}
.navbar-inverse .navbar-toggle{
    border-color: #eee;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: #152732;
}

/*search*/
#search input::-webkit-input-placeholder,#mce-EMAIL::-webkit-input-placeholder{
  color:#eee;
}
#search input:-moz-placeholder,#mce-EMAIL input:-moz-placeholder{
  color:#eee;
}
#search input::-moz-placeholder,#mce-EMAIL input::-moz-placeholder{
  color:#eee;
}
#search input:-ms-input-placeholder.#mce-EMAIL input:-ms-input-placeholder {
  color:#eee;
}
#search,.calendar-subscribe-form{
    padding-left: 0%;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0),0 1px 0 rgba(255,255,255,0);
     box-shadow: inset 0 1px 0 rgba(255,255,255,0),0 1px 0 rgba(255,255,255,0);
}
#search input[type=search],#search-404 input[type=search],.calendar-subscribe-form input[type=email]{
    height: 30px;
    color: #eee;
    background: #2c3e50;
    text-align: right;
    border: none;
    border-radius: 0;
}
#search-404 input[type=search]{
    height: 42px;
    background: #152732;
}
#search button[type=submit],#search-404 button[type=submit]{
    width: 25px;
    height: 25px;
    background: url(../img/search_btn.png);
    position: relative;
    top: 2px;
    left: 29px;
    border: none;
    border-radius: 0;
}
#search-404{
    margin-bottom: 4em;
}
#search-404 button[type=submit]{
    top: 8px;
}

#error-img{
    margin-top: 2em;
    width: 40%;
    height: auto;
}
.input-edited:focus{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(44, 62, 80, 0.6)

}
/*////////////////////////  footer  ////////////////////////*/

footer{
    border-top: 2px solid  #BAB9B9;
    padding-top: 3em;
}
.footer_labels{
    font-size:18px;
    color: #2c3e50;
    margin-top: 1em;
}
.copyright{
    float: left;
    font-weight: bold !important;
    margin-top: 1em;
}
footer img{
    max-width: 100%;
}
#hangouts a img{
    width: 70%;
}
#catavee a img{
    width: 41%;
}
#catazine a img{
    width: 41%;
}
/*////////////////////////  404 pg  ////////////////////////*/

#search input[type=search],#search-404 input[type=search]{
    height: 30px;
    color: #eee;
    background: #2c3e50;
    text-align: right;
    border: none;
    border-radius: 0;
}
#search-404 input[type=search]{
    height: 42px;
    background: #152732;
}
#search button[type=submit],#search-404 button[type=submit]{
    width: 25px;
    height: 25px;
    background: url(../img/search_btn.png);
    position: relative;
    top: 2px;
    left: 29px;
    border: none;
    border-radius: 0;
}
#search-404{
    margin-bottom: 4em;
}
#search-404 button[type=submit]{
    top: 8px;
}
#error-img{
    margin-top: 2em;
    width: 40%;
    height: auto;
}

/*////////////////////////  index pg  ////////////////////////*/
#slider{
    padding-left: 0;
    padding-right: 0;
}
.carousel img {
  width:100%;
}

ul.index-circle>li img {
    max-width: 138%;
    height: auto;
    margin-bottom: 2em;
}
ul.index-circle>li{
    margin-right: 3em;
}
.index-block{
    padding-top: 2em;
    padding-bottom: 2em;
}
.index-block p{
    font-size: 19px;
    margin-bottom: 1.5em;
}
.latest-news-title{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 18px;
}
.index-block h3 a{
    color: #152732;
    margin-bottom: 0.8em;
}
.index-block h3 a:hover{
    text-decoration: none;
}
.news-block p{
    color: #d23433;
}
.news-block .col-md-6{
    min-height: 370px;
}
.index-img{
    float: left;
}
.cat-library-img{
    height: 47%;
}
.index-more{
    height: 2.125em;
    font-size: 17px;
    color: #eeeeee;
    background: #d23433;
    text-align: center;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-top: 2em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.index-more:hover{
    background-color: #B82C2B;
    color: #eeeeee;
    text-decoration: none;
}
.left-btn{
    text-align: left;
    margin-bottom: 2em;
}
.right-btn{
    text-align: right;
    margin-bottom: 2em;
}
.index-hangout{
    height: auto;
    width: 77%;
    margin-bottom: 0.6em;
}
/*hangout-form*/
.nf-modal{
    width: 40% !important;
    height: 91% !important;
    padding-left: 0 !important;
    top: 57% !important;
    right: 28% !important;
    border-radius: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: none !important;
    box-shadow: none !important;
/*    overflow: hidden !important;
*/}
.ninja-forms-form-wrap input, .ninja-forms-form-wrap select, .ninja-forms-form-wrap textarea{
    margin-bottom: 1em !important;
}
.nf-modal-content{
    border-radius: 0 !important;
    background: #F1F1F1 !important;
}
.ninja-forms-required-items{
    display: none !important;
}
.ninja-forms-form-title{
    margin-bottom: 1em !important;
    color: #D9251D !important;
}
.nf-modal input[type=submit]{
    color: #eeeeee;
    border: none;
    background: #d23433;
    padding: 0.5em;
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nf-modal input[type=submit]:hover{
    background-color: #B82C2B;
}
.nf-modal a.close-modal{
    right: 2px !important;
     -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
}
.nf-modal a.close-modal:hover{
    background: #D92530 !important;
}
.hangout-des2{
    font-size: 19px;
    display: block;
    margin-bottom: 2em;
}
.hangout-des2:hover{
    color: #ab2323;
}
.hangout-btn{
    margin-bottom: 2em;
}
.view-hangout‎{
    margin-top: 2em;
}
.view-hangout{
    margin-top: 2em;
}
.index-catavee{
    text-align: left;
}
.index-speaker{
    height: auto;
    width: 44%;
    margin-bottom: 1.2em;
}
.index-people{
    height: auto;
    width: 82%;
    margin-bottom: 0.6em;
}
/*////////////////////////  about pg  ////////////////////////*/
#about-des{
    margin-bottom: 0;
}
#about_content h3{
    color: #d23434;
    margin-bottom: 1em;
}
#about_content p ,#about_content li{
    font-size: 21px;
    color: #152732;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#about_content p,#about_content ul{
    margin-bottom: 2em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.team{
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.team-memeber{
    margin-bottom: 2em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.team-memeber img{
/*  height: 260px;
*/      width: 100%;
}
.team h1{
    margin-bottom: 1em;
}
.team-display{
    margin-bottom: 4em;
}
.member-name,.old-member-name{
    font-size: 21px;
    margin-top: 0.5em;
}
.member-name a{
    color: #eee !important;
    text-decoration: none;
}
.old-member-name a{
    color: #152732;
    text-decoration: none;
}
.member-name a:hover,.old-member-name:hover{
    text-decoration: none;
}
.member-social a i{
    color: #eee;
    transition: all 0.8s ease;
     -moz-transition:all 0.8s ease;
     -webkit-transition:all 0.8s ease;
     -ms-transition:all 0.8s ease;
}
.member-social li a i.fa-facebook:hover{
    color: #3B5998;
}
.member-social li a i.fa-twitter:hover{
    color: #55ACEE;
}
.member-social li a i.fa-github-alt:hover{
    color: #000;
}
.member-social li a i.fa-linkedin-square:hover{
    color: #007BB5;
}
.member-social li a i.fa-google-plus:hover{
    color: #DC4A38;
}
.old-member-btn{
    margin-top: 3em;
}
/*////////////////////////  old_member pg  ////////////////////////*/
.old-team hr{
    border-color: #152732;
}
.old-team .member-social a i{
    color: #152732;
/*  font-size: 30px !important;
*/}

/*////////////////////////  profile pg  ////////////////////////*/
#profile-header img{
    border:2px solid #d23434;
    margin-top: 2em;
    width: auto;
    height: 50%;
}
#profile-header h1{
    color: #d23434 !important;
}
#profile-header h3{
    color: #152732;
}
#profile-header h4{
    color: #425C76;
    margin-top: 1em;
}
#profile-header p{
    color: #5682AE;
    margin-top: 1em;
    margin-bottom: 1em;
}
#profile-content{
    margin-top: 3em;
}
#profile-content h2{
    color: #D23434;
}
.profile-social i.fa-facebook{
    color: #425F9C;
}
.profile-social i.fa-twitter{
    color: #55ACEE;
}
.profile-social i.fa-google-plus{
    color: #E02F2F;
}
#myNav{
    border-bottom: none;
}
#myNav li a{
    font-size: 21px;
    color: #152732 !important;
    border:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 #myNav li a{
        border-radius: 0 ;
        border:none;
 }
.ulEnd#myNav li.active a{
    color: #152732 !important;
    background: none !important;
}
.ulEnd#myNav >li.active>a i, .ulEnd>li.active>a:focus.ulEnd li.active i{
    color: #152732 !important;
}
#myNav li.active a{
    background-color: #152732 !important;
    color: #eeeeee !important;
}
#myNav>li.active>a i, #myNav>li.active>a:focus#myNav li.active i{
    color: #d23434;
}
.ulEnd#myNav li:last-child a{
    color: #eeeeee !important;
    background-color: #152732 !important;
}
.ulEnd#myNav li:last-child a i{
    color: #d23434 !important;
}
.ulEnd li.active a{
    color: #152732 !important;
    background: none !important;
}
.ulEnd >li.active>a i, .ulEnd>li.active>a:focus.ulEnd li.active i{
    color: #152732 !important;
}
#myNav{
    width: 245px;
            margin-top: 20px;
}
#myNav.nav-tabs.affix{
        top: 30px;
}
.member-left-col{
    margin-bottom: 4em;
}
.member-left-col p , .member-left-col li ,.member-left-col a{
    font-size: 18px;
    color: #152732;
}
.member-left-col p,.member-left-col a{
    color: #425C76 !important;
}
.member-left-col a{
    text-decoration: underline;
}
 .member-left-col li{
    line-height: 2em;
 }
 .sub-section {
    margin-bottom: 4em;
 }
/*////////////////////////  circle pg  ////////////////////////*/
#circle{
    margin-bottom: 0;
    padding-top: 1em;
}

#circle_des p,.hangout-des,.library-des{
    color: #99c0e5;
}

#line1{
    background-color: #152732;
    width: 15px;
    height: 100px;
    margin-left: 2em;
    visibility: hidden;
}
.circle-img,.circle-des-right,.circle-des-left{
    visibility: hidden;
}

.circle-content{
    padding-top: 5em;
}
.bounce, .pulse, .floating, .tossing, .pullUp, .pullDown, .stretchLeft, .stretchRight{
    visibility: visible !important;
}
.circle-title,.circle-more,.hangout-des2{
    color: #ab2323;
}
.circle-des{
    color: #152732;
    font-size: 19px;
}
.circle-more{
    font-size: 19px;
}
.circle-more:hover{
    text-decoration: underline;
    color: #ab2323;
}
.circle-more i{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/*line*/
.line{
    visibility: hidden;
}
.right-line{
    width: 15px;
    height: 550px;
    position: absolute;
    -moz-transform: rotate(-57deg);
    -webkit-transform: rotate(-57deg);
    -o-transform: rotate(-57deg);
    -ms-transform: rotate(-57deg);
    transform: rotate(-57deg);
    margin-right: 6em;
    margin-top: 17em;
}
.left-line{
    width: 15px;
    height: 539px;
    position: absolute;
    -moz-transform: rotate(57deg);
    -webkit-transform: rotate(57deg);
    -o-transform: rotate(57deg);
    -ms-transform: rotate(57deg);
    transform: rotate(57deg);
    margin-right: 7em;
    margin-top: 15em;
}
#line2-container,#line3-container,#line4-container,#line6-container{
    position: absolute;
}
#line2{
    background-color: #16a085;
}

#line3{
    background-color: #8840A6;
}
#line4{
    background-color: #2C3F50;
    height: 512px;
    margin-right: 7em;
    margin-top: 13em;
}
#line5{
    background-color: #BE4C00;
    height: 515px;
    margin-right: 11em;
    margin-top: -19em;
}
#line6{
    background-color: #7E8C8D;
    height: 505px;
    margin-right: 3em;
}
#line7{
    background-color: #438995;
    height: 495px;
    margin-top: -17em;
}
#line8{
    background-color: #27AE61;
    height: 530px;
    margin-top: -21em;
}
#circle2-bg{
    background: url(../img/web-bg.png) no-repeat;
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
}
#circle5-bg{
    margin-top: 3em;
    background: url(../img/game-bg.png) no-repeat;
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
}
#circle8-bg{
    margin-top: 3em;
    background: url(../img/security-bg.png) no-repeat;
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
}
#circle2,#circle3,#circle4,#circle5,#circle6,#circle7,#circle8{
    padding-top: 4em;
}




/*////////////////////////  event pg  ////////////////////////*/


/*event header*/

.header-des h3{
    color: #2c3e50;
}
.header-des p{
    color: #d23434;
}
.event-header-container img{
    margin-top: 4em;
    height: 190px;
}
#event_more{
    width: 7.75em;
    height: 2.125em;
    background: #76b547;
    color: #152732;
    font-size: 17px;
    text-align:center;
    padding-top: 0.25em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a#event_more:active,a#event_more:hover{
    background: #8bd652;
    text-decoration: none;
}
a#event_more:hover,a#event_more:focus{
    text-decoration: none;
}

/*event content*/
#event_content,#join_content,#event-inner_content{
    margin-top: 2em;
    margin-bottom: 2em;
}

/*tabs*/
.event-pills{
    margin-bottom: 3em;
}
.event-pills>li{
    width: 12em !important;
}
.event-pills>li>a{
    height: 2.3em;
    display: block;
    padding-top: 0.375em;
    color: #152732 !important;
    font-size: 21px;
    text-align: center;
    border: 0 !important;
    border-radius: 0 !important;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.event-pills li a:hover {
    background-color: #d2dadd !important;
    color: #152732 !important;
}
.event-pills>li.active>a,.event-pills>li.active>a:focus.event-pills li.active{
    background-color: #152732 !important;
    color: #eeeeee !important;
}
.event-pills>li.active>a i, .event-pills>li.active>a:focus.event-pills li.active i{
    color: #d23434;
}
.event-pills>li+li{
    margin-right: -4px;
}

/*inside*/
.scope,.join,.search-result .row{
    padding-bottom: 1.5em;
    margin-bottom: 4em;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.scope:hover,.join:hover{
    background: #E2E6E7;
}
.event_pic{
/*  padding-top: 5.45em;
*/}
/*.join{
    padding-bottom: 1.5em;
    margin-bottom: 4em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}*/
/*div.join:hover{
    background: #E2E6E7;
}*/
.event_des >a>h2,.join_des>a>h2{
    color: #152732;
    font-size: 24px;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.join_des>a:hover,.join_des>a:focus,.event_des>a:hover,.event_des>a:focus{
    text-decoration: none;
}
.join_des>h3,.event_des>h3{
    color: #425C76;
    text-align: left;
    font-size: 21px;
    margin-bottom: 1em;
}

.event_des >p,.join_des>p{
    color: #ea3a3a;
    font-size: 19px;
/*  padding-top: 1em;
    padding-bottom: 1em;*/
}
.join_pic img,.event_pic img{
    padding-top: 1.5em;
    width: 100%;
    height: 217px;
}

/*.join_des>p{
    margin-bottom: 0em;
    padding-bottom: 0em;
    padding-top: 0em;
}
*/
.join-adds{
/*  height: 70.5em;
*/}
.adds{
/*  background: #BAB9B9;
*/  /*height: 48.5em;*/
}
.adds h3 a,.adds h3{
    color: #152732 !important;
    text-decoration: none;
    font-size: 23px;
}
.panel-default>.panel-heading{
    color: #152732 !important;
    background-color: #EEEEEE !important;
    border-color: #EEE !important;
}
.panel-default>.panel-heading .panel-title{
    font-size: 19px !important;
}
.panel{
    background-color: #eee;
}

.customisable-border {
  border-color: #EEE;
}
.e-entry-content {
  padding-top: 1em;
}
.env-narrow .tweet {
  padding: 18px 8px 0px 8px;
}
.twitter-timeline ,._h7n{
    background-color: #F7F5F5 !important;
}
.h-feed{
    padding: 1em !important;
}
.env-narrow .var-chromeless .tweet{
        padding: 12px 13px 10px 18px;
/*  padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;*/
}
.customisable-border{
    border: 1px solid #ECECEC;
}

/*///////////pagination///////////*/
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus{
    color: #D61E1E;
    background-color: #EEEEEE;
}
.pagination>li>a, .pagination>li>span{
    color: #EEEEEE;
    background-color: #152732;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
    color: #152732;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
/*////////////////////////  event-inner pg  ////////////////////////*/

#event-inner_more{
    width: 10.063em;
    height: 2.125em;
    background: #004899;
    color: #fff;
    text-align:center;
    padding-top: 0.313em;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
a#event-inner_more:active,a#event-inner_more:hover{
    background: #0566d4;
    text-decoration: none;
}
a#event-inner_more:hover,a#event-inner_more:focus{
    text-decoration: none;
}
.last-des p {
  color: #d23434;
}
.last-des h3 {
  color: #425C76;
}
#schedule{
    margin-bottom: 3em;
}
#schedule .sharedaddy{
    float: none;
    text-align: center;
}
#schedule div.sharedaddy h3.sd-title{
        color: #152732;
}

.speaker{
    margin-bottom: 7em;
}
.cal-without-speaker{
    background: #fff !important;
}
.speaker img{
    -webkit-filter: grayscale(69%);
    -moz-filter: grayscale(69%);
    filter: grayscale(69%);
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;

  width: 225px;
  height: 225px;
  object-fit: cover;
}
.sharedaddy {
    float: left;
    margin-bottom: 1em;
}
div.sharedaddy h3.sd-title{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
        color: #eee;
}
.speaker:hover img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
div.sharedaddy h3.sd-title:before{
    border-top: none !important;
}
.speaker:hover .speaker-des{
    color: #d23434;
}
.speaker-des{
    margin-top: 1em;
    color: #556772;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#sponsor{
    padding-top: 4em;
    padding-bottom: 4em;
}
#sponsor img{
    width: 100%;
    height: 32%;
    margin-bottom: 1em;
}
#sponsor h1{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em;
}

/*////////////////////////  join pg  ////////////////////////*/

#join_title >p{
    font-size: 28px;
}

/*tabs*/

/*inside*/


/*////////////////////////  cat-calendar pg  ////////////////////////*/
.cal{
    background-color: #ebebeb;
    margin-bottom: 1em;
}
.calendar-subscribe-form button[type=submit]{
    width: 25px;
    height: 25px;
    background: url(../img/envelope.png);
    position: relative;
    top: -3.1em;
    margin-left: 0.5em;
    float: left;
    border: none;
    border-radius: 0;
}
.calendar-subscribe-form input:focus,.calendar-subscribe-form button:focus,#search button :focus{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(44, 62, 80, 0.6)
}
.calendar-subscribe-form .from-group .btn:focus,.calendar-subscribe-form .from-group .btn:active:focus,.calendar-subscribe-form .from-group .btn.active:focus,.#search .btn:focus,.#search .btn:active:focus,.#search .btn.active:focus{
    outline: none !important;
}
.calendar-subscribe-form .form-group{
    width: 100%;
}
.calendar-subscribe{
    margin-top: 3em;
}
.calendar-subscribe h4{
    color: #8E8E8E;
}
.fc-event{
    background-color: #d2d2d2 !important;
    border-color: #d2d2d2 !important;
}
.fc-event, .fc-event:hover, .ui-widget .fc-event{
    color: #000 !important;
}
.fc-day-header, .fc-widget-header{
    background-color: #ed5757 !important;
    color: #fff !important;
}
.fc-toolbar{
    background-color: #d23434 !important;
    margin-bottom: 0 !important;
    color: #fff !important;
    padding: 13px;
}
.fc th{
    border:0 !important;
    padding: 5px !important;
}
.fc-widget-header{
    border:0px !important;
    border-color: transparent !important;
}
.fc-ltr .fc-basic-view .fc-day-number{
    text-align: center !important;
}
.fc table{
    font-size: 16px !important;
}
.fc-more{
    color: #ed5757;
}
/*////////////////////////  contact pg  ////////////////////////*/
#contact-header{
    padding-top: 5em;
    padding-bottom: 5em;
}
.contact{
    color: #fff;
}
.contact-circle{
    display: block;
    color: #fff;
    background:#942F33;
    border-radius: 50%;
    text-align: center;
    font-size:35px;
    width: 172px;
    height: 172px;
    padding: 1.6em;
    border:6px solid #942F33;
    transition: all 0.8s ease;
     -moz-transition:all 0.8s ease;
     -webkit-transition:all 0.8s ease;
     -ms-transition:all 0.8s ease;
}
.contact-circle:hover, .contact-circle:focus{
    color: #fff;
    background: #C1494B;
    border:6px solid #942F33;
}
.contact p{
    font-size: 17px;
    margin-top: 1em;
}
.contact p a{
    color: #fff;
}
.contact-circle .fa-mobile{
    font-size: 45px;
}
.contact-circle .fa-comments-o{
    font-size: 39px;
}
.contact-circle .fa-newspaper-o{
    font-size: 40px;
}
.contact-circle .fa-envelope{
    font-size: 43px;
}
.contact-circle .fa-user{
  font-size: 48px;
}
#ninja_forms_field_36_options_span li{
    padding: 0 6px;
}
#ninja_forms_field_36_options_span li input{
    float: left !important;
    margin-left: 0 !important;
}

/*////////////////////////  Session  ////////////////////////*/
.session-img {
  height: 220px;
}
.session-header{
    padding-top: 3em !important;
}
.session-header h1{
    font-size: 33px;
}
.session-header h4{
    color: #4b6b8c;
    font-size: 24px;
}
#session-inner-reg{
    color: #fff;
    background:#d23434;
    width: 6.063em;
    height: 2.125em;
    margin-left: 9px;
    text-align: center;
    padding-top: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#session-inner-reg:hover{
    text-decoration: none;
    background: #E73A3A;
}
.speaker-info{
    margin-top: 4em;
    margin-bottom: 4em;
}
.session-speaker-img{
    width: 264px;
    height: 260px;
    border: 5px solid #d23434;
    padding: 0;
    object-fit:cover;
}
.share-btn{
  width: 10.063em;
  height: 30px;
  background: #76b547;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0.25em;
  margin-right: 9px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.share-btn:hover{
    background: #8bd652;
    text-decoration: none;
    color: #FFFFFF;
}
.speaker-info-text{
    padding-top: 2em;
}
.session-speaker-name{
    color: #152732;
    border-bottom: 2px solid #152732;
/*  text-decoration: underline;
*/  display: inline;
    margin-left: 35px;
}
.about-speaker{
    color: #d23434;
    font-size: 19px;
    margin-top: 2em;
    font-weight: 200;
}
.session-more{
    padding-bottom: 2em;
}
.session-more-text p{
    color: #eeeeee;
    font-size: 19px;
    margin-bottom: 4em;
    margin-top: 2em;
}
.session-more-without-speaker p {
   color: #152732 !important;
}
.session-video{
    padding-bottom: 3em;
}

/*search*/
.search-result .row{
    min-height: 450px
}
