
/*responsive*/
/**********************************
	Mobiles
**********************************/

@media(max-width: 767px){
	ul#nav >li> a{
		padding-right: 2.5em;
	}
	#slider .carousel-indicators{
		display: none !important;
	}
	.carousel-control span{
		font-size: 13px !important;
	}
	.index-block h1 {
  		font-size: 27px !important;
	}
	.footer_labels{
  		font-size: 12px !important;
	}
	.circle-img{
	  width: 70%;
	  margin: 0 auto;
	  text-align: center;
	  float: none !important;	
	}
	.circle{
	 	padding-top: 2em !important;
    	padding-bottom: 2em !important;
	}
	.circle-des-right, .circle-des-left{
	  text-align: center;
	  float: none !important;
	}
	.circle-content{
		padding:0 !important;
		margin-top: 1em !important;
	}
	.header-des h1, #calender-des h1,.session-inner-content h1{
		text-align: center !important;
 		margin-top: 1em !important;	
	}
	.session-inner-content h1{
		margin-bottom: 0.5em !important;
	}
	.speaker-info{
		margin-top: 2em;
	}
	.session-video .video-link{
		width: 100% !important;
	}
	.header-des p, #calender-des p,.header-des h3,.speaker-info-text{
		text-align: center !important;
	}
	.speaker-info-text h1,.member-left-col h3,.ninja-forms-form-title{
		font-size: 20px !important;
	}
	.member-left-col a{
		font-size: 14px !important;
	}
	.header-container h1, .red-title,#calender-des h1{
      font-size: 40px !important;
  	}
  	.session-header h1 {
    	font-size: 29px !important;
	}
  	.header-container p, #about_content p, #about_content li{
      font-size: 18px !important;
  	}
  	#social{
  		display: none;
  	}
  	.cal{
  		margin-bottom: 3em;
  	}
  	.contact-circle {
 		width: 122px !important;
 	 	height: 122px !important;
  		padding: 1.3em !important;
  		font-size: 29px !important;
	}
	.contact-circle .fa-newspaper-o {
  		font-size: 32px !important;
	}
	.contact-circle .fa-mobile {
  		font-size: 42px !important;
	}
	.contact-circle .fa-comments-o ,.contact-circle .fa-envelope{
  		font-size: 35px !important;
	}
	.contact-circle .fa-user {
  		font-size: 40px !important;
	}
	.session-map{
		height: 530px !important;
	}
	.session-img,.join_pic img,.event_pic img{
		height: auto !important;
	}
	.xs-hidden{
		display: none;
	}
	.pagination>li>a, .pagination>li>span{
		padding: 5px 7px;
	}
	.last-des,.event_des >a>h2, .join_des>a>h2,.join_des>h3, .event_des>h3,.event_des >p, .join_des>p{
		text-align: center !important;
	}
	.session-header .last-des{
		margin-bottom: 3em;
	}
	ul.index-circle>li{
		margin-right: 0 !important;
	}
	ul.index-circle>li img {
    	max-width: 80% !important;
	}
	#about_content {
		font-size: 19px !important;
	}
	.nf-modal.modal{
		width: 100% !important;	
		right: 0% !important;	
		left: 0% !important;
		top: 57% !important;
	}
	.circle{
		padding-bottom: 2em;
	}
	.sharedaddy{
		float: none;
    	text-align: center;	
	}
	#sponsor img{
		height: 50% !important;
	}
	.search-result .row{
		min-height: auto !important;
	}
}

/**********************************
	Tablets
**********************************/
@media(min-width: 768px) and (max-width: 991px){
	.fc button{
		font-size: 12px !important;
	}
	.fc-center h2{
		font-size: 25px;	
	}
	.session-img {
  		height: 170px;
	}
	.session-speaker-img {
  		width: 250px;
	  	height: 246px;
	}
	.session-map{
		height: 406px !important;
	}
	.sm-hidden{
		display: none;
	}
	ul.index-circle>li {
    	margin-right: 3em;
	}
	#myNav li a{
		width: 90% !important;
	}
	.nf-modal.modal{
		width: 60% !important;	
		right: 22% !important;	
		top: 60% !important;
	}
	.circle-content{
		padding-top: 2em !important
	}
	

}
/**********************************
	Desktop Small - Large Tablets
**********************************/

@media (min-width: 992px) and (max-width: 1199px) {
	.session-map{
		height: 425px !important;
	}
	ul.index-circle>li {
    	margin-right: 2.2em !important;
	}
	#myNav li a{
		width: 90% !important;
	}
	.circle-content{
		padding-top: 3em !important;
	}
}

/**********************************
	Desktop
**********************************/

@media (min-width: 1200px) {

}


@media(min-width: 1367px){
	#line1,.line{
		display: none !important;
	}
}
@media(max-width: 1333px){
	#line1,.line{
		display: none !important;
	}
}
@media(max-width: 1199px){
	.contact{
		margin-bottom: 2em;
	}
	.circle{
	 	padding-top: 2em !important;
    	padding-bottom: 2em !important;
	}
}

@media(max-width: 991px){
	.index-img{
		float: none !important;
	}
	.center-h1,.center-btn,.index-block{
		text-align: center !important;
	}
	.member-social li a i,.old-team .member-social a i{
		font-size: 1.5em !important;
	}
	.news-block .col-md-6 {
	    min-height: auto !important;
	}
	.latest-news-title{
		 margin-top: 5px;
   		 margin-bottom: 18px;
	}
	.fc button{
		font-size: 11px !important;
	}
	.fc .fc-toolbar > * > *{
		margin-left: 0;
	}
}


@media(max-width: 600px){

  #error-img{
    width: 60% !important;
  }
}

@media(max-width: 480px){
	.search-div {
  		margin-left: 24%;
	}
}